.row {
    display: flex;
    justify-content: space-evenly;
  }
  

  .column {
    
    padding: 10px;
   
  }

  .user {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 5px;
    padding: 5px;
  }

  .add-user-btn {
    background-color: #FFE4B5;
    
  }

  .user-update-btn {
    background-color: #FFE4B5;
  }

  .user-delete-btn {
    background-color: #FFE4B5;
    margin-left: 5px;
  }

  .update-delete-btns{
    display: flex;
    justify-content: flex-end;
  }

  .add-btn{
    background-color: #FFE4B5;
  }

  .search {
    margin-bottom: 5px;
  }